<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/js/script.js" defer></script>
        <link rel="stylesheet" href="../styles.css" />
        <title>My Team | Pokemon Team Builder</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__title">Pokemon Team Builder</h1>
            <nav class="header__nav">
                <div class="header__nav__menu">
                    <button
                        class="header__nav__menu--button"
                        onclick="toggleMenu()"
                    >
                        &#9776;
                    </button>
                </div>
                <ul class="header__nav__list">
                    <li class="header__nav__list--item">
                        <a href="/index.html">Home</a>
                    </li>
                    <li class="header__nav__list--item active">
                        <a href="#">My Team</a>
                    </li>
                    <li class="header__nav__list--item">
                        <a href="/view/pokemon-search.html">Pokemon Search</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="team">
            <h2 class="team__title">My Team</h2>
            <section class="team__section">
                <div class="team__section__text">
                    <p class="team__section__text--note">
                        *Note: You may add up to 6 pokemon on your team
                    </p>
                    <input
                        class="team__section__text--input"
                        type="text"
                        placeholder="Pokemon name goes here"
                    />
                    <ul class="team__section__text--ul">
                        <li>Bulbasaur</li>
                        <li>Charmander</li>
                        <li>Pikachu</li>
                    </ul>
                </div>
                <figure class="team__section__figure">
                    <img
                        class="team__section__figure--img"
                        src="../images/ash-and-team.png"
                    />
                </figure>
            </section>
        </main>

        <footer>This is the footer</footer>
    </body>
</html>
